body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

input {
    width: 40px;
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #2980b9;
}
.p-input-wrapper{
    margin-bottom: 10px;
}
.file-input-wrapper input{
    margin-right: 100px;
}

.file-input-wrapper input, .p-input-wrapper input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.result-container {
    margin-top: 20px;
}

#riskDiv, #uncertantyDiv {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

#pValuesContainer input {
    margin: 0 8.66px;
}

#matrix-container { 
    position: relative;
}

label, input {
    margin-bottom: 10px;
}

input {
    padding: 3px;
    border: 1px solid black;
    border-radius: 4px;
}